.matterContainer {
  top: -200vh;

  animation-name: move;
  animation-delay: 2.5s;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    top: -200vh;
  }
  100% {
    top: 0vh;
  }
}
